---
version: '3'

x-global-environment:
 &global-environment
  restart: unless-stopped
  build:
    context: ./Configs

services:
  nginx:
    <<: *global-environment
    container_name: web_dock_nginx
    build:
      dockerfile: Dockerfile.nginx
    ports:
      - "${NGINX_HOST_PORT}:${NGINX_PORT}"
    volumes: 
      - type: bind
        source: ./NGINX_files/
        target: /etc/nginx/
      - type: bind
        source: ./NGINX_files/varlognginx/
        target: /var/log/nginx

  apache:
    <<: *global-environment
    container_name: web_dock_apache
    build:
      dockerfile: Dockerfile.apache
    ports:
      - "${APACHE_HOST_PORT}:${APACHE_PORT}"
    networks:
      apache_net:
        ipv4_address: ${APACHE_NET_SUBNET}.${APACHE_IP}

  caddy:
    <<: *global-environment
    container_name: web_dock_caddy
    build:
      dockerfile: Dockerfile.caddy
    ports:
      - "${CADDY_HOST_PORT}:${CADDY_PORT}"
    networks:
      caddy_net:
        ipv4_address: ${CADDY_NET_SUBNET}.${CADDY_IP}

networks:
  apache_net:
    driver: bridge
    ipam:
     config:
       - subnet: ${APACHE_NET_SUBNET}.0/24
  caddy_net:
    driver: bridge
    ipam:
     config:
       - subnet: ${CADDY_NET_SUBNET}.0/24